<div *ngIf="anecdote" class="card anecdoteCard">
  <div class="card-header headerCard row">
    <div class="contentHeaderjob col-6">{{anecdote.category.label}}</div>
    <div class="contentHeaderLogin  col-6"
         [ngStyle]="{'color':anecdote.user.sexe === 'Femme' ? 'pink' : 'blue' }">{{anecdote.user.username}}
    </div>
    <div class="container">
    <div class="row justify-content-end">
      <div class="col-1"><span title="dôle"><i class="far fa-thumbs-up" (click)="onVoteAnecdote('fun',anecdote.id)"></i></span>
      </div>
      <div [ngClass]="(anecdote.visible==true)?'vote_count':'blockedVote_count'"  class="col-2"><p class="voteContent">{{anecdote.votes[0].length}}</p></div>
      <div class="col-1"><span title="triste"><i class="far fa-sad-tear"
                                                 (click)="onVoteAnecdote('sad',anecdote.id)"></i></span></div>
      <div [ngClass]="(anecdote.visible==true)?'vote_count':'blockedVote_count'" class="col-2"><p class="voteContent">{{anecdote.votes[2].length}}</p></div>
      <div class="col-1"><span title="Tu l'as bien mérité"><i class="far fa-thumbs-down"
                                                              (click)="onVoteAnecdote('des',anecdote.id)"></i></span>
      </div>
      <div [ngClass]="(anecdote.visible==true)?'vote_count':'blockedVote_count'"  class="col-2"><p class="voteContent">{{anecdote.votes[1].length}}</p></div>
    </div>
    </div>
  </div>
  <div class="card-body bodyCard">
    <span>{{anecdote.description}}</span>
  </div>
  <div class="card-footer footerCard row">
    <div class="contentHeaderDate  col-6">{{anecdote.publishedAt}}</div>
    <div class="comment  col-6">
      <i class="anecdoteLink" (click)="gotoComments(anecdote.id)">Commentaires</i>
    </div>
  </div>
</div>
