.anecdoteCard {
  width: 100%;
  padding: 0.5em;
  position: center;
  background-color: rgba(221, 184, 245, 0.5);
  /*background-color: rgba(90, 144, 245, 0.1);*/
  border-radius: 0.5em;
  box-shadow: 0px 0px 10px 0px rgb(98, 98, 98);
}

.footerCard, .bodyCard, .headerCard {
  background-color: white;
}

.bodyCard {
  text-align: center;
  padding-bottom: 1em;
}

.contentHeaderJob {
  width: 60%;
  float: left;
  text-align: center;
  position: relative;
  font-style: oblique;
  font-size: 1em;
}

.contentHeaderLogin {
  width: 30%;
  float: right;
  text-align: right;
  position: relative;
  font-style: italic;
  font-size: 1em;
  margin-bottom: 1em;
}

.contentHeaderDate {
  width: 60%;
  float: left;
  text-align: left;
  position: relative;
  font-style: italic;
  font-size: 0.7em;
  margin-bottom: 1em;
}

.anecdoteLink {
  margin-right: 1.5em;
}

.anecdoteLink:hover{
  color: dodgerblue;
}

.comment {
  text-align: right;
}

.row {
  margin: 0;
}

.icons {
  margin-left: 75%;
}

.icon {
  margin: 1em;
}


//////////////////////info bulle /////////////////////
.vote_count, .blockedVote_count {
  position: absolute;
  color: #333;
  margin-left: 10px;
}

.vote_count {
  background-color: #fff;
}

.blockedVote_count {
  background-color: #ebebeb;
}

.vote_count, .blockedVote_count {
  border: 1px solid #ebebeb;
  border-radius: 3px;
  display: inline-block;
  font-size: 12px;
  line-height: 1.5;
  margin-left: 3.75px;
  padding: 1px 5px;
  position: sticky;
  color: #333
}

.vote_count:before, .blockedVote_count:before {
  border-right: 5px solid #ebebeb;
  left: -10px
}

.vote_count:after, .vote_count:before, .blockedVote_count:after, .blockedVote_count:before {
  border-style: solid;
  border-width: 5px;
  color: transparent;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  top: 5px;
  width: 0
}

.vote_count:after{
  left: -8px;
  border-right: 5px solid white;
}
.blockedVote_count:after {
  left: -8px;
  border-right: 5px solid #ebebeb;
}

.vote_count, .blockedVote_count {
  top: -10px
}

.voteContent {
  text-align: center;
  vertical-align: center;
  position: absolute;
}
