<div>
  <div class="card">
    <div class="card-header">
      <p class="titre_carte">Nouvel utilisateur</p>
    </div>
    <div class="card-body">
      <div *ngIf="mode==1">
        <form (ngSubmit)="onSaveUser()">
          <div class="row">
            <!-- EMAIL -->
            <div [formGroup]="userForm" class="col-12 form-group position-relative">
              <label class="control-label">Email :</label>
              <input [className]=" email.valid? ' form-control is-valid' : ' form-control ' " type="text"
                     name="email"
                     formControlName="email" required/>
            </div>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="col-12 alert alert-danger">
              <div *ngIf="email.errors.required">
                L'email est requis
              </div>
              <div *ngIf="email.errors">
                Email invalide
              </div>
            </div>
            <!-- LOGIN -->
            <div [formGroup]="userForm" class="col-12 form-group position-relative">
              <label class="control-label">Identifiant :</label>
              <input [className]=" username.valid? ' form-control is-valid' : ' form-control' " type="text"
                     name="username"
                     formControlName="username" required/>
            </div>
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="col-12 alert alert-danger">
              <div *ngIf="username.errors.required">
                l'identifiant est requis.
              </div>
              <div *ngIf="username.errors.minlength">
                L'identifiant doit être de 3 caractères minimum.
              </div>
              <div *ngIf="username.errors.maxlength">
                L'identifiant doit être de 10 caractères maximum.
              </div>
            </div>
            <!-- NOM -->
            <div [formGroup]="userForm" class="col-12 form-group position-relative">
              <label class="control-label">Nom :</label>
              <input [className]=" nom.valid? ' form-control is-valid' : ' form-control' " type="text" name="nom"
                     formControlName="nom" required>
            </div>
            <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="col-12 alert alert-danger">
              <div *ngIf="nom.errors.required">
                Le nom est requis.
              </div>
              <div *ngIf="nom.errors.minlength">
                Le nom doit être de 2 caractères minimum.
              </div>
              <div *ngIf="nom.errors.maxlength">
                Le nom doit être de 20 caractères maximum.
              </div>
            </div>
            <!-- PRENOM -->
            <div [formGroup]="userForm" class="col-12 form-group position-relative">
              <label class="control-label">Prenom :</label>
              <input [className]=" prenom.valid? ' form-control is-valid' : ' form-control ' " type="text"
                     name="prenom"
                     formControlName="prenom" required/>
            </div>
            <div *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)" class="col-12 alert alert-danger">
              <div *ngIf="prenom.errors.required">
                Le prénom est requis.
              </div>
              <div *ngIf="prenom.errors.minlength">
                Le prénom doit être de 2 caractères minimum.
              </div>
              <div *ngIf="prenom.errors.maxlength">
                Le prénom doit être de 20 caractères maximum.
              </div>
            </div>
            <!-- PASSWORD -->
            <div [formGroup]="userForm" class="col-12 form-group position-relative">
              <label class="control-label">Mot de passe :</label>
              <input [className]=" password.valid? ' form-control is-valid' : ' form-control' " type="password"
                     name="password" formControlName="password" required/>
            </div>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="col-12 alert alert-danger">
              <div *ngIf="password.errors.required">
                Le mot de passe est requis.
              </div>
              <div *ngIf="password.errors.minlength">
                Le mot de passe doit être de 4 caractères minimum.
              </div>
              <div *ngIf="password.errors.maxlength">
                Le mot de passe doit être de 10 caractères maximum.
              </div>
            </div>
            <!-- CONFIRM PASSWORD -->
            <div [formGroup]="userForm" class="col-12 form-group position-relative">
              <label class="control-label">Confirmation du mot de passe :</label>
              <input [className]=" confirmPassword.valid? ' form-control is-valid' : ' form-control' "
                     type="password" name="confirmPassword" formControlName="confirmPassword" required/>
            </div>
            <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
                 class="col-12 alert alert-danger">
              <div *ngIf="confirmPassword.errors.required">
                La confirmation du mot de passe est requise.
              </div>
              <div *ngIf="confirmPassword.errors.mustMatch">
                Les mots de passe doivent être identique.
              </div>
            </div>
            <!-- SEXE -->
            <div [formGroup]="userForm" class="col-12 form-group position-relative">
              <label class="control-label">Sexe :</label>
              <select [className]=" sexe.valid? ' form-control is-valid' : ' form-control' "
                      class="custom-select" formControlName="sexe" required>
                <option>FEMME</option>
                <option>HOMME</option>
              </select>
            </div>
            <div *ngIf="sexe.invalid && (sexe.dirty || sexe.touched)" class="col-12 alert alert-danger">
              <div *ngIf="sexe.errors.required">
                Le sexe est requis.
              </div>
            </div>
          </div>
          <br/>
          <div class="row">
            <button [disabled]="!userForm.valid" type="submit"
                    class="col-4 userSubmit">Enregistrement</button>
          </div>
        </form>
      </div>
      <div *ngIf="mode==2">
        <p>Nous confirmons votre enregistrement. Vous pouvez dés à présent vous connecter et profiter de toutes les fonctionnalités de JBosse!</p>
      </div>
    </div>
  </div>
</div>

