.jobCard {
  padding: 0;
  width: 80%;
  margin: 1.5em;
  position: center;
}

.card-header{
  margin: 0.1em;
  background-color: white;
}

.JbossePicture{
  width: 100%;
}

.JbosseContent{
  float: right;
  width: 40%;
  padding-top: 0.5em;
  text-align: center;
  padding-right: 1em;
}

.JbossePhoto{
  float: left;
  width: 60%;
}

.JBosseDiv{
  padding: 0;
  width: 80%;
  margin: 1.5em;
  background-color: white;
  position: absolute;
}

.anecdotesDiv{
  padding: 0;
  width: 80%;
  margin: 1.5em;
  background-color: white;
  position: absolute;
}


.JBosseCategory{
  text-align: center;
  margin-top: 5%;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 1.5em;
  letter-spacing: 0.5em;
  word-spacing: 0.5em;
  color: black;
  font-weight: bold;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;
}

.icons{
  margin-left: 78%;
}

.icon{
  margin: 1em;
}

.headerCard, .userCard{
  width: 100%;
}

.userCard{
  width: 10%;
}

.usernameBlock{
  text-align: right;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.dateBlock{
  margin-top: 0.5em;
}

.dateCard{
  width: 80%;
  margin-left: 15%;
  text-align: right;
}

.card-body{
  margin-left: 1em;
  margin-right: 1em;
}

.commentaireBlock{
  text-align: right;
}

.commentaireBlock:hover{
  color: dodgerblue;
}


.card-footer {
  background-color: rgba(254, 242, 255, 0.1);
  font-size: 1em;
}

.titleJob{
  padding: 0;
  width: 80%;
  margin: 1.5em;
}


.buttonJbosse{
  box-shadow: inset 0px 1px 0px 0px #dcecfb;
  background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  background-color: #bddbfa;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
}


.buttonJbosse:hover {
  background: linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
  background-color: #80b5ea;
}

.buttonJbosse{
  width: 80%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  font-size: 1em;
}

// style de la pagination en surcouche de bootstrap

.navContent{
  width: 80%;
  margin: 1.5em;
}
.page-link{
  background-color: white;
  color: #ddb8f5;
}

.page-item:hover{
  color: #b18bc4;
}

.pagination > .active > a
{
  color: #550aea;
  background-color: #ddb8f5;
  border-color: #b18bc4;
}

//////////////////////info bulle /////////////////////
.vote_count, .blockedVote_count {
  position: absolute;
  color: #333;
  margin-left: 10px;
}

.vote_count {
  background-color: #fff;
}

.blockedVote_count {
  background-color: #ebebeb;
}

.vote_count, .blockedVote_count {
  border: 1px solid #ebebeb;
  border-radius: 3px;
  display: inline-block;
  font-size: 12px;
  line-height: 1.5;
  margin-left: 3.75px;
  padding: 1px 5px;
  position: sticky;
  color: #333
}

.vote_count:before, .blockedVote_count:before {
  border-right: 5px solid #ebebeb;
  left: -10px
}

.vote_count:after, .vote_count:before, .blockedVote_count:after, .blockedVote_count:before {
  border-style: solid;
  border-width: 5px;
  color: transparent;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  top: 5px;
  width: 0
}

.vote_count:after{
  left: -8px;
  border-right: 5px solid white;
}

.blockedVote_count:after {
  left: -8px;
  border-right: 5px solid #ebebeb;
}

.vote_count, .blockedVote_count {
  top: -10px
}

.voteContent{
  text-align: center;
  vertical-align: center;
  position: absolute;
}


