<div>
  <div class="jobCard card">
    <div *ngIf="anecdoteCategory" card-body>
      <div class="JbossePhoto">
        <img class="JbossePicture"
             src="{{this.categoryService.host+'/api/photoAnecdoteCategoryBack/'+anecdoteCategory.label}}"
             alt="Categorie">
      </div>
      <div class="JbosseContent">
        <p class="JBosseCategory">{{anecdoteCategory.label}}</p>
        <div>
          <button type="button" class="buttonJbosse" (click)="onSaveAnecdote(anecdoteCategory.id)">J'y bosse
          </button>
        </div>
      </div>
    </div>
  </div>
  <nav *ngIf="this.pages.length>1" class="navContent" aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item" [ngClass]="{'active':currentPage==(i)}" *ngFor="let p of pages; let i=index">
        <a class="page-link" (click)="gotoPage(i)">{{i + 1}}</a>
      </li>
    </ul>
  </nav>
  <div *ngFor="let a of anecdotes?.content" class="jobCard card ">
    <div class="card-header row">
      <div id="profil" class="  col-2">
        <div class="row">
          <img class="rounded-circle  col-12"
               src="{{this.jobService.host+'/photoUser/'+a.user.username}}"
               alt="Anecdote">
        </div>
      </div>
      <div id="date" class="dateCard col">
        <div class="row">
          <span class=" dateBlock col-12"> <strong>Date de plublication :</strong> {{a.publishedAt}}</span>
          <span class=" usernameBlock col-12"
                [ngStyle]="{'color':a.user.sexe === 'Femme' ? 'pink' : 'blue' }">{{a.user.username}}</span>
          <div class="container">
            <div class="row justify-content-end">
              <div class="col-1"><span title="dôle"><i class="far fa-thumbs-up" (click)="onVoteAnecdote('fun',a.id)"></i></span>
              </div>
              <div [ngClass]="(a.visible==true)?'vote_count':'blockedVote_count'" class="col-2"><p class="voteContent">{{a.votes[0].length}}</p></div>
              <div class="col-1"><span title="triste"><i class="far fa-sad-tear"
                                                         (click)="onVoteAnecdote('sad',a.id)"></i></span></div>
              <div [ngClass]="(a.visible==true)?'vote_count':'blockedVote_count'" class="col-2"><p class="voteContent">{{a.votes[2].length}}</p></div>
              <div class="col-1"><span title="Tu l'as bien mérité"><i class="far fa-thumbs-down"
                                                                      (click)="onVoteAnecdote('des',a.id)"></i></span>
              </div>
              <div [ngClass]="(a.visible==true)?'vote_count':'blockedVote_count'" class="col-2"><p class="voteContent">{{a.votes[1].length}}</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <span>{{a.description}}</span>
      </div>
    </div>
    <div class="card-footer footerCard">
      <div class="row">
        <a class="col-12 commentaireBlock"  (click)="gotoComments(a.id)">Commentaires</a>
      </div>
    </div>
  </div>
  <nav *ngIf="this.pages.length>1" class="navContent" aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item" [ngClass]="{'active':currentPage==(i)}" *ngFor="let p of pages; let i=index">
        <a class="page-link" (click)="gotoPage(i)">{{i + 1}}</a>
      </li>
    </ul>
  </nav>
</div>

