<div class="home">
  <div class="title">JBOSSE</div>
  <div class="homeContainer">
    <div id="job" class="cardsJobContainer  w3-animate-left">
      <app-job *ngIf="job!== ''" [job]=job></app-job>
      <div id="jobs" *ngIf="job== ''" class="row">
        <div *ngFor="let c of categories" class="jobCard card col-3">
          <img class="cardPicture card-img-top"
               src="{{this.categoryService.host+'/api/photoAnecdoteCategory/'+c.label}}"
               alt="Categorie" (click)="gotoJob(c.label)">
          <div class="card-footer footerCard">
            <div class="row">
              <div class="col-12 jobFooterCard">
                <h4>{{c.label}}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="lastComments" *ngIf="job== '' " class="lastComments row">
        <div *ngFor="let c of comments" class="card CommentCard">
          <div class="card-body bodyCard">
            <div class="contentHeaderCommentLogin">
              <img class="rounded-circle"
                   src="{{this.commentService.host+'/photoUser/'+c.user.username}}"
                   alt="Comment">
              <div [ngStyle]="{'color':c.user.sexe === 'Femme' ? 'pink' : 'blue' }">{{c.user.username}}
              </div>
            </div>
            <span>{{c.description}}</span>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="contentHeaderDate col-6">{{c.publishedAt}}</div>
              <div class="col-6">
                <i class="anecdoteLink" (click)="gotoAnecdote(c.anecdote.id)">Anecdote</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cardsRightContainer">
      <app-utils></app-utils>
      <div *ngIf="bests?.content.length!=0" id="bestAnecdote">
        <div class="titleCard w3-animate-right">
          <div class="w3-row bodyCardBestTitle"><h4 class="titleList">{{'Main.Best' | translate}}</h4>
          </div>
        </div>
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            <li class="page-item" [ngClass]="{'active':bestCurrentPage==(i)}" *ngFor="let p of pageBests; let i=index">
              <a class="page-link" (click)="gotoPageBest(i)">{{i + 1}}</a>
            </li>
          </ul>
        </nav>
        <div class="card bestCard w3-animate-right" *ngFor="let a of bests?.content">
          <div class="card-header headerCard">
            <div class="contentHeaderBestJob">{{a.category.label}}</div>
            <div class="contentHeaderBestLogin"
                 [ngStyle]="{'color':a.user.sexe === 'Femme' ? 'pink' : 'blue' }">{{a.user.username}}</div>
          </div>
          <div class="card-body bodyCard">
            <span>{{a.description}}</span>
          </div>
          <div class="card-footer footerCard">
            <div class="row">
              <div class="contentHeaderDate col-6">{{a.publishedAt}}</div>
              <div class="col-6">
                <i class="anecdoteLink" (click)="gotoAnecdote(a.id)">Anecdote</i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="lasts?.content.length!=0" id="latsAnecdote">
        <div class="titleCard w3-animate-right">
          <div class="w3-row bodyCardBestTitle"><h4 class="titleList">{{'Main.Last' | translate}}</h4>
          </div>
        </div>
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            <li class="page-item" [ngClass]="{'active':lastCurrentPage==(i)}" *ngFor="let p of pageLasts; let i=index">
              <a class="page-link" (click)="gotoPageLast(i)">{{i + 1}}</a>
            </li>
          </ul>
        </nav>
        <div class="card bestCard w3-animate-right" *ngFor="let a of lasts?.content">
          <div class="card-header headerCard">
            <div class="contentHeaderBestJob">{{a.category.label}}</div>
            <div class="contentHeaderBestLogin"
                 [ngStyle]="{'color':a.user.sexe === 'Femme' ? 'pink' : 'blue' }">{{a.user.username}}</div>
          </div>
          <div class="card-body bodyCard">
            <span>{{a.description}}</span>
          </div>
          <div class="card-footer footerCard">
            <div class="row">
              <div class="contentHeaderDate col-6">{{a.publishedAt}}</div>
              <div class="col-6">
                <i class="anecdoteLink" (click)="gotoAnecdote(a.id)">Anecdote</i>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
