
.home {
  width: 100vw;
  position: absolute;
  background-image: url("../../assets/images/loginBackground.png");
  background-position: inherit;
  background-repeat: no-repeat;
  background-attachment:fixed;
}


// style de la pagination en surcouche de bootstrap
.page-link{
  background-color: white;
  color: #ddb8f5;
}

.page-item:hover{
  color: #b18bc4;
}

.pagination > .active > a
{
  color: #550aea;
  background-color: #ddb8f5;
  border-color: #b18bc4;
}

/*
::-webkit-scrollbar {
    display: none;
}
*/

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgba(128, 181, 234, 0.29);
}

.title {
  text-align: center;
  margin-top: 5%;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 4em;
  letter-spacing: 1.5em;
  word-spacing: 1.5em;
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;
}

.loginTitle {
  height: 20%;

}

.loginForm {
  text-align: center;
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 5%;
  background-color: rgba(255, 255, 255, 0.5);
  /*background-color: rgba(90, 144, 245, 0.1);*/
  border-radius: 1em;
  box-shadow: 0px 0px 32px 0px rgb(98, 98, 98);

}

.positionUsername {
  margin-top: 25%;
  margin-bottom: 2%;

}


.loginInput, .loginInput:hover {
  height: 50%;
  width: 50%;
  text-align: center;


}

.divInput {
  height: 25%;
}

.divButton, .divLink {
  height: 15%;
}

.loginInput {
  background-image: linear-gradient(to right,
  white, rgba(66, 94, 245, 0.1), white
  );
  border: 2px solid #ddb8f5;
  border-left-style: hidden;
  border-right-style: hidden;
}

.loginInput:hover {

  border: 2px solid #5a90f5;
  border-left-style: hidden;
  border-right-style: hidden;

}


.loginSubmit, .profileButtonHome, .profileButtonDeco, .profileButtonAdmin {
  width: 11em;
  box-shadow: inset 0px 1px 0px 0px #dcecfb;
  background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  background-color: #bddbfa;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
}


.loginSubmit:hover, .profileButtonHome:hover, .profileButtonDeco:hover, .profileButtonAdmin:hover {
  background: linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
  background-color: #80b5ea;
}

.profileButtonHome, .profileButtonDeco{
  width: 80%;
  left: 10%;
  margin-top: 1em;
  margin-right: 1.5em;
  font-size: 1em;
}

.profileButtonAdmin{
  width: 100%;
  left: 10%;
  margin-top: 1em;
  margin-right: 1.5em;
  font-size: 1em;
}



.link {
  padding-top: 10em;
  color: #528ecc;
}

.link:hover {
  color: #528ecc;
  text-decoration: underline solid rgb(68, 68, 68);
}

.link:active {
  color: #0022cc;
}


/*HOME*/

.homeContainer {
  width: 100%;
  height: 100%;
}

.cardsJobContainer {
  float: left;
  width: 70%;
  height: 100%;
  margin-left: 5%;

}

.lastComments{
  width: 90%;
  margin-left: 2%;
}

.anecdoteLink{
  margin-right: 1.5em;
  float: right;
  text-align: right;
}

.anecdoteLink:hover{
  color: dodgerblue;
}

.cardsRightContainer {
  height: 100%;
  position: absolute;
  text-align: right;
  width: 30%;
  margin-left: 70%;

}

.contentHeaderBestJob, .contentHeaderCommentLogin{
  float: left;
  text-align: center;
  position: relative;
  font-style: oblique;
  font-size: 1em;
}

.contentHeaderBestLogin {
  width: 30%;
  text-align: center;
  position: relative;
  font-style: italic;
  font-size: 1em;
  margin-bottom: 1em;
}

.contentHeaderBestLogin{
  float: right;
}

.contentHeaderCommentDate{
  float: left;
}


.contentHeaderDate {
  width: 100%;
  float: left;
  text-align: left;
  position: relative;
  font-style: italic;
  font-size: 0.7em;
  margin-top: 0.5em;
}


.jobCard {
  padding: 0;
  width: 25%;
  margin: 1.5em;
  position: center;
}

.bestCard, .CommentCard {
  width: 90%;
  margin: 1em;
  padding: 0.5em;
  position: center;
  background-color: rgba(221, 184, 245, 0.5);
  /*background-color: rgba(90, 144, 245, 0.1);*/
  border-radius: 0.5em;
  box-shadow: 0px 0px 10px 0px rgb(98, 98, 98);
}

.titleCard{
  width: 90%;
  margin: 1em;
  padding: 0.5em;
  position: center;
  background-color: rgba(221, 184, 245, 0.5);
  /*background-color: rgba(90, 144, 245, 0.1);*/
  border-radius: 0.5em;
  box-shadow: 0px 0px 10px 0px rgb(98, 98, 98);
}

.buttonPicture {
  width: 80%;
  text-align: right;
}

.jobFooterCard{
  font-size: 1.5rem;
  text-align: center;
}

.footerCard, .bodyCard,.headerCard {
  background-color: white;
}

.bodyCardBestTitle, .bodyCardRecentTitle{
  height: 100%;
  background-color: rgba(221, 184, 245, 0.9);
}

.bodyCard{
  text-align: center;
  padding-bottom: 1em;
}

.goto::after {
  content: "";
  position: absolute;
  margin-top: 0.5em;

  /* taille */
  height: 0;
  width: 0;

  /* les bordures */
  border-left: 2em solid #80b5ea;
  border-bottom: 1em solid transparent;
  border-top: 1em solid transparent;
}

.titleList{
  vertical-align: center;
  position: center;
  font-style: italic;
  font-size: 1em;
  text-align: center;
}

.light-purple-backdrop {
  background-color: rgb(245, 243, 93);
}



