<div>
  <div class="card">
    <div class="card-header">
      <p class="titre_carte">Nouvel anecdote</p>

    </div>
    <div class="card-body">
      <form (ngSubmit)="onSaveAnecdote()">

        <div [formGroup]="anecdoteForm" class="form-group position-relative">
          <label class="control-label">Contenu : </label>
          <textarea [className]=" description.valid? ' form-control is-valid' : ' form-control' " type="textarea"
                 name="description"
                    formControlName="description" required ></textarea>
        </div>
        <button [disabled]="!anecdoteForm.valid" type="submit"
                class="anecdoteSubmit">Poster </button>
        <button class="anecdoteExit" (click)="onCloseModal()">exit</button>
      </form>
    </div>
  </div>
</div>
