<div>
  <div class="card">
    <div class="card-header">
      <p class="titre_carte">Nouveau commentaire</p>

    </div>
    <div class="card-body">
      <form (ngSubmit)="onSaveComment()">

        <div [formGroup]="commentForm" class="form-group position-relative">
          <label class="control-label">Contenu : </label>
          <textarea [className]=" description.valid? ' form-control is-valid' : ' form-control' " type="textarea"
                    name="description"
                    formControlName="description" required ></textarea>
        </div>
        <button [disabled]="!commentForm.valid" type="submit"
                class="commentSubmit">Poster </button>
        <button class="commentExit" (click)="onCloseModal()">exit</button>
      </form>
    </div>
  </div>
</div>
