<div class="login">
  <div class="title w3-animate-left">JBOSSE</div>
  <form #f="ngForm" (ngSubmit)="onLogin(f.value)" class="loginForm w3-animate-right">
    <div class="loginTitle">
    </div>
    <div class="form-group divInput">
      <input ngModel="" type="text" id="login" class="loginInput" name="username" placeholder="identifiant" required>
    </div>
    <div class="form-group divInput">
      <input ngModel="" type="password" id="password" class="loginInput" name="password" placeholder="mot de passe"
             required>
    </div>
    <div class="divButton">
      <input type="submit" class="loginSubmit" value="{{'Login.Login' | translate}}">
      <input type="button"  class="loginSubmit" value="{{'Login.SignUp' | translate}}" (click)="goToNewUser()">
    </div>
    <div class="divLink">
      <span><a class="link">{{'Login.ForgetPassword' | translate}}</a></span>
      <div class="alert alert-danger up-spacer" *ngIf="mode==1">
        <strong>{{'Login.IdentificationError' | translate}}</strong><strong> {{'Login.InvalideLogin' | translate}}</strong>
      </div>
    </div>
  </form>

</div>
