.login {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: url("../../../../assets/images/loginBackground.png");
  background-position: inherit;
  background-repeat: no-repeat;
  background-attachment:fixed;
}

::-webkit-scrollbar {
    display: none;
}


.title {
  text-align: center;
  margin-top: 5%;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 4em;
  letter-spacing: 1.5em;
  word-spacing: 1.5em;
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;
}

.loginTitle {
  height: 20%;

}

.loginForm {
  text-align: center;
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 5%;
  background-color: rgba(255, 255, 255, 0.5);
  /*background-color: rgba(90, 144, 245, 0.1);*/
  border-radius: 1em;
  box-shadow: 0px 0px 32px 0px rgb(98, 98, 98);

}

.positionUsername {
  margin-top: 25%;
  margin-bottom: 2%;

}


.loginInput, .loginInput:hover {
  height: 50%;
  width: 50%;
  text-align: center;


}

.divInput {
  height: 25%;
}

.divButton, .divLink {
  height: 15%;
}

.loginInput {
  background-image: linear-gradient(to right,
  white, rgba(66, 94, 245, 0.1), white
  );
  border: 2px solid #ddb8f5;
  border-left-style: hidden;
  border-right-style: hidden;
}

.loginInput:hover {

  border: 2px solid #5a90f5;
  border-left-style: hidden;
  border-right-style: hidden;

}


.loginSubmit {
  width: 11em;
  margin-left: 1em;
  box-shadow: inset 0px 1px 0px 0px #dcecfb;
  background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  background-color: #bddbfa;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
}


.loginSubmit:hover {
  background: linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
  background-color: #80b5ea;
}

.link {
  color: #528ecc;
}

.link:hover {
  color: #528ecc;
  text-decoration: underline solid rgb(68, 68, 68);
}

.link:active {
  color: #0022cc;
}

