<div id="profile">
  <div class="titleCard w3-animate-right">
    <div class="w3-row bodyCardBestTitle">
      <div class=" w3-col m8">
        <button type="button" class=" profileButtonHome" (click)="onHome()">{{'Main.Home' | translate}}</button>
        <button type="button" class=" profileButtonDeco" (click)="onLogOut()">{{'Main.Deconnection' | translate}}</button>
      </div>
      <div class="w3-col m4 ">
        <a id="profileLink"><img class="rounded-circle cardPicture" src="{{this.authentificationWebService.host+'/photoUser/'+username}}" alt="Profile"></a>
      </div>
    </div>
    <button *ngIf="administrateur===1" type="submit" class="profileButtonAdmin">Administration</button>
  </div>
</div>
