<div *ngIf="comments.content">
  <div *ngIf="comments.content.length!==0">
    <div class="card commentCard">
      <div class="card-body bodyCard">
        <button type="button" class="buttonSaveComment" (click)="onSaveComment()">Nouveau commentaire</button>
      </div>
    </div>
    <div *ngFor="let c of comments?.content" class="card commentCard">
      <div class="card-header headerCard container">
        <div class="row justify-content-between">
          <div class="col-5 loginContent"
               [ngStyle]="{'color':c.user.sexe === 'Femme' ? 'pink' : 'blue' }">{{c.user.username}}
          </div>
          <div class="col-1"><span title="utile"><i class="far fa-thumbs-up"
                                                    (click)="onVoteComment('usefull',c.id,c.anecdote.id)"></i></span></div>
          <div [ngClass]="(c.visible==true)?'vote_count':'blockedVote_count'"  class="col-2"><p class="voteContent">{{c.votes[0].length}}</p></div>
          <div class="col-1"><span title="inutile"><i class="far fa-thumbs-down"
                                                      (click)="onVoteComment('useless',c.id,c.anecdote.id)"></i></span></div>
          <div [ngClass]="(c.visible==true)?'vote_count':'blockedVote_count'"  class="col-2"><p class="voteContent">{{c.votes[1].length}}</p></div>
        </div>
      </div>
      <div class="card-body bodyCard">
        <span>{{c.description}}</span>
      </div>
      <div class="card-footer footerCard row">
        <div class="contentHeaderDate  col-6">{{c.publishedAt}}</div>
      </div>
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          <li class="page-item" [ngClass]="{'active':currentPage==(i)}" *ngFor="let p of pagesComments; let i=index">
            <a class="page-link" (click)="gotoPage(i)">{{i + 1}}</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div *ngIf="comments.content.length===0">
    <div class="card commentCard">
      <div class="card-body bodyCard">
        <p>Il n'y a pour le moment aucun commentaire voulez vous en postez un ?</p>
        <button type="button" class="buttonSaveComment" (click)="onSaveComment()">Nouveau commentaire</button>
      </div>
    </div>

  </div>
</div>
